body {
	padding: 0;
	margin: 0;
}
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #55555544;
}

::-webkit-scrollbar-thumb {
	background: #66666688;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #99999988;
}

.flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.no-text-transform {
	text-transform: none;
}

.p10 {
	padding: 10px;
}
.p15 {
	padding: 15px;
}
.p20 {
	padding: 20px;
}
.p25 {
	padding: 25px;
}
.p30 {
	padding: 30px;
}

.flex-row-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	height: fit-content;
	width: fit-content;
	margin: 10px;
}

a:hover {
	opacity: 1;
	text-decoration: none;
}

.appBarHeight {
	height: 60px;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div,
img {
	user-select: none;
}
